h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}
p{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(219, 138, 0);
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: midnightblue;
}
ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    justify-content: center;
    display: flex;
    margin: auto;
    height: 600px;
    width: 700px;
}
p{
    color: red;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

